@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,400;1,700&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --text-color: #0a0a0a;
  --text-second-color: #e6e6e6;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font: 16px/1.5 'Lato', sans-serif;
}

body,
table,
form,
button,
input,
select,
textarea {
  font: inherit;
}
body {
  background-color: #dfdfdf;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.6em;
}

h6 {
  font-size: 1.3em;
}

ul {
  list-style-type: none;
}

ul.nav {
  display: flex;
  margin-left: auto;
}
ul.nav li {
  padding-left: 2em;
}
ul.nav a {
  font-size: 1.1em;
  padding: 1em 0 1em 0.5em;
  position: relative;
}
ul.nav a.active::after {
  content: '';
  width: 90%;
  height: 2px;
  background-color: #dadada;
  position: absolute;
  top: 3.5em;
  left: 0.5em;
}

ul.nav a:hover::after {
  content: '';
  width: 90%;
  height: 2px;
  background-color: #00b76c;
  position: absolute;
  top: 3.5em;
  left: 0.5em;
}

ul.nav a.active:hover::after {
  content: '';
  width: 90%;
  height: 2px;
  background-color: whitesmoke;
  position: absolute;
  top: 3.5em;
  left: 0.5em;
}

.header {
  width: 100%;
  height: 60vh;
  position: relative;
  color: white;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background-color: rgb(0, 71, 48); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('imgs/header-background.jpg');
  /* background-repeat: no-repeat; */
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  z-index: -1;
}
.main-info {
  color: var(--primary-color);
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-info h1 {
  font-size: 3.5em;
}
.main-info h3 {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  padding-top: 0;
  font-size: 1.8em;
}
.main-nav {
  width: 80%;
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(90, 90, 90, 0.5);
}
.main-nav a {
  color: var(--primary-color);
}
.main-nav .logo {
  position: relative;
  font-weight: bold;
  width: 130px;
  /* background-color: violet; */
  /* height: 20px; */
}
/* .main-nav .logo .fa-ghost {
  position: absolute;
  top: 0;
  left: 0;
} */
.main-nav .logo p {
  position: absolute;
  top: 0;
  left: 0.5em;
  /* color: aquamarine; */
  font-size: 1.4em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* USER SECTION */
.user {
  width: 100%;
  display: flex;
  background-color: #24444c;
  position: relative;
}

.user a {
  color: var(--primary-color);
  font-size: 1.4em;
}

.login,
.register {
  padding: 3em 0;
  text-align: center;
}

.login {
  width: 51%;
  background-color: #24444c;
  clip-path: polygon(0 0, 100% 0, 98% 100%, 0 100%);
  /* position: absolute;
  top: 0;
  left: 0; */
  z-index: 1;
}
.register {
  width: 50%;
  background-color: #00b76c;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;
  clip-path: polygon(2% 0, 100% 0, 100% 100%, 0 100%);
}

/* ABOUT SECTION */
.about {
  display: flex;
  padding: 4em;
}
.about-info {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  text-align: justify;
  text-justify: inter-word;
}
.about-info h3 {
  padding-bottom: 0.6em;
}

.heading-normal {
  font-weight: normal;
}

.team-members {
  flex: 1 1 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 4em;
  border-left: 3px dotted #c3c3c3;
  margin-left: 4em;
}

.member-card {
  /* border: 1px solid black; */
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.member-card h6 {
  font-size: 1em;
  padding: 0;
  margin: 0;
}
.member-card p {
  color: #8a8a8a;
}
.member-card img {
  display: block;
  width: 100%;
  height: auto;
  border: 5px solid #c3c3c3;
  border-radius: 50%;
}
.member-card .img-container {
  width: 100%;
}

.social {
  width: 100%;
  padding-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #8a8a8a;
}

.social .fa-link {
  transform: scaleX(-1);
}

.social .active {
  color: #00663c;
}

/* carousel */

.carousel {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.image-container {
  width: 100%;
  height: 300px;
  /* background-color: #6294ff; */
  overflow: hidden;
  position: relative;
}

.image-container::before {
  display: block;
  /* width: 100%;
  height: 200px; */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

.testimonials img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 0;
  transition: all 1.2s ease-in-out;
}

.testimonials img.active {
  opacity: 1;
  /* transition: all 2.5s ease-in; */
}

.buttons-container {
  z-index: 2;
  /* background-color: sandybrown; */
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  /* width: 220px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-btns {
  display: flex;
  align-items: center;
}

.member-quotation-name {
  border-right: 1px solid #dfdfdf;
  color: var(--primary-color);
  margin-right: 0.5em;
  position: relative;
  /* background-color: darkorange; */
  width: 180px;
  height: 30px;
}

.member-quotation-name h6 {
  font-size: 1.2em;
  text-align: right;
  position: absolute;
  top: -10px;
  right: 20px;
  opacity: 0;
}
.member-quotation-name h6.active-member {
  opacity: 1;
  transition: opacity 1.2s ease-in;
}

.testimonials .btn {
  outline: none;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: #7a7a7a;
  margin: 0.5em;
}

.testimonials .btn.active {
  background-color: #fff;
}

.testimonials .btn:hover {
  opacity: 0.7;
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-color);
  z-index: 2;
  font-size: 1.3em;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: center;
  opacity: 0;
}

.carousel-text.active-text {
  opacity: 1;
  transition: opacity 1.2s ease-in;
}
