@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,400;1,700&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --text-color: #0a0a0a;
  --text-second-color: #e6e6e6;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font: 16px/1.5 'Lato', sans-serif;
}

body,
table,
form,
button,
input,
select,
textarea {
  font: inherit;
}
body {
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.6em;
}

h6 {
  font-size: 1.3em;
}

.burger-menu {
  display: none;
}
.ghost-burger-menu {
  display: none;
}
.ghost-animate {
  position: relative;
  top: 0;
  left: 0;
  animation: ghost 6s ease-in-out 2s infinite;
}
@keyframes ghost {
  25% {
    left: 80px;
    opacity: 0;
  }
  50% {
    left: 0px;
    opacity: 0.3;
  }
  75% {
    left: 0px;
    opacity: 1;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

ul {
  list-style-type: none;
}

ul.nav {
  display: flex;
  margin-left: auto;
}
ul.nav li {
  padding-left: 2em;
}
ul.nav a {
  font-size: 1.1em;
  padding: 1em 0 1em 0.5em;
  position: relative;
}
ul.nav a.active::after {
  content: '';
  width: 90%;
  height: 2px;
  background-color: #dadada;
  position: absolute;
  top: 3.5em;
  left: 0.5em;
}

ul.nav a:hover::after {
  content: '';
  width: 90%;
  height: 2px;
  background-color: #00b76c;
  position: absolute;
  top: 3.5em;
  left: 0.5em;
}

ul.nav a.active:hover::after {
  content: '';
  width: 90%;
  height: 2px;
  background-color: whitesmoke;
  position: absolute;
  top: 3.5em;
  left: 0.5em;
}

.header {
  width: 100%;
  padding: 0 7em;
  height: 60vh;
  position: relative;
  color: white;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background-color: rgb(0, 71, 48); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('imgs/header-background.jpg');
  /* background-repeat: no-repeat; */
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  z-index: -1;
}
.main-info {
  color: var(--primary-color);
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-info h1 {
  font-size: 3.5em;
}
.main-info h3 {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  padding-top: 0;
  font-size: 1.8em;
}
.main-nav {
  /* width: 80%; */
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(90, 90, 90, 0.5);
}
.main-nav a {
  color: var(--primary-color);
}
.main-nav .logo {
  position: relative;
  font-weight: bold;
  width: 130px;
  /* background-color: violet; */
  /* height: 20px; */
}
/* .main-nav .logo .fa-ghost {
  position: absolute;
  top: 0;
  left: 0;
} */
.main-nav .logo p {
  position: absolute;
  top: 0;
  left: 0.5em;
  /* color: aquamarine; */
  font-size: 1.4em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* USER SECTION */
.user {
  width: 100%;
  display: flex;
  background-color: #24444c;
  position: relative;
}

.user a {
  color: var(--primary-color);
  font-size: 1.4em;
}

.login,
.register {
  padding: 3em 0;
  text-align: center;
}

.login {
  width: 51%;
  background-color: #24444c;
  clip-path: polygon(0 0, 100% 0, 98% 100%, 0 100%);
  /* position: absolute;
  top: 0;
  left: 0; */
  z-index: 1;
}
.register {
  width: 50%;
  background-color: #00b76c;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;
  clip-path: polygon(2% 0, 100% 0, 100% 100%, 0 100%);
}

/* ABOUT SECTION */
.about {
  display: flex;
  padding: 4em 6em;
}
.about-info {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 1em;
  padding-right: 4em;
  color: #8a8a8a;
}
.about-info h3 {
  padding-bottom: 0.6em;
  color: #000;
}

.heading-normal {
  font-weight: normal;
}

.team-members {
  flex: 1 1 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1em 0 4em;
  border-left: 3px dotted #c3c3c3;
  margin-left: 4em;
}

.member-card {
  /* border: 1px solid black; */
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.member-card h6 {
  font-size: 1em;
  padding: 0;
  margin: 0;
}
.member-card p {
  color: #8a8a8a;
}
.member-card img {
  display: block;
  width: 100%;
  height: auto;
  border: 5px solid #c3c3c3;
  border-radius: 50%;
}
.member-card .img-container {
  width: 100%;
}

.social {
  width: 100%;
  padding-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #8a8a8a;
}

.social .fa-link {
  transform: scaleX(-1);
}

.social .active {
  color: #00663c;
}

/* carousel */

.carousel {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.image-container {
  width: 100%;
  height: 300px;
  /* background-color: #6294ff; */
  overflow: hidden;
  position: relative;
}

.image-container::before {
  display: block;
  /* width: 100%;
  height: 200px; */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

.testimonials img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 300px;
  object-fit: fill;
  opacity: 0;
  transition: all 1.2s ease-in-out;
}

.testimonials img.active {
  opacity: 1;
  /* transition: all 2.5s ease-in; */
}

.buttons-container {
  z-index: 2;
  /* background-color: sandybrown; */
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  /* width: 220px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-btns {
  display: flex;
  align-items: center;
}

.member-quotation-name {
  border-right: 1px solid #dfdfdf;
  color: var(--primary-color);
  margin-right: 0.5em;
  position: relative;
  /* background-color: darkorange; */
  width: 180px;
  height: 30px;
}

.member-quotation-name h6 {
  font-size: 1.2em;
  text-align: right;
  position: absolute;
  top: -10px;
  right: 20px;
  opacity: 0;
}
.member-quotation-name h6.active-member {
  opacity: 1;
  transition: opacity 1.2s ease-in;
}

.testimonials .btn {
  outline: none;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  background-color: #7a7a7a;
  margin: 0.5em;
}

.testimonials .btn.active {
  background-color: #fff;
}

.testimonials .btn:hover {
  opacity: 0.7;
}

.carousel-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-color);
  z-index: 2;
  font-size: 1.3em;
  letter-spacing: 2px;
  font-weight: 400;
  text-align: center;
  opacity: 0;
}

.carousel-text.active-text {
  opacity: 1;
  transition: opacity 1.2s ease-in;
}

/* servers */
.servers-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4em 6em;
}

.server-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  text-align: center;
  padding: 1em;
}

.server-type {
  width: 80px;
  height: 80px;
  background-color: #edcd00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.server-card:nth-of-type(2) .server-type {
  background-color: #25a5f3;
}
.server-card:nth-of-type(3) .server-type {
  background-color: #92a4a5;
}
.server-card:nth-of-type(4) .server-type {
  background-color: #f84000;
}
.server-type i {
  color: var(--primary-color);
}
.server-card p {
  color: #8a8a8a;
}

/* footer */

.footer {
  padding: 4em 6em;
  background-color: #2e2e2e;
  display: flex;
  flex-wrap: wrap;
  color: #8a8a8a;
  line-height: 200%;
}
.footer-design {
  flex: 0 1 33%;
  justify-content: center;
  align-items: center;
}
.footer-links {
  flex: 0 1 33%;
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}
.footer-contacts {
  flex: 0 1 33%;
  display: flex;
  justify-content: flex-end;
}
.footer-contacts span {
  margin-left: 0.5em;
}
.footer a {
  color: #8a8a8a;
}
.footer a:hover {
  color: var(--primary-color);
  padding-left: 0.2em;
}
.footer-nav {
  padding: 1em;
}
.footer-nav li:hover {
  color: white;
}
.footer li::before {
  content: '';
  font-family: 'Font Awesome 5 Free';
  font-weight: 700;
  content: '\f054';
  padding-right: 0.3em;
}
.footer-section {
  border-right: 1px solid #8a8a8a;
  padding: 1em;
}
.footer-section:last-child {
  border: none;
}

.footer-nav-container {
  width: 180px;
}
.designer {
  margin-top: 1em;
}
.designer-name {
  font-weight: bold;
}
.footer-design-wrapper {
  display: flex;
  flex-direction: column;
}
.footer-links-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer-contacts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 1400px) {
  .footer-links-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer-nav-container {
    width: 150px;
  }
  ul.footer-nav {
    padding: 0;
  }
}

@media (max-width: 1100px) {
  .footer {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .footer-design {
    border: none;
    border-bottom: 1px solid white;
    text-align: center;
  }
  .footer-design-wrapper {
    text-align: left;
  }

  .footer-links {
    border: none;
    flex-grow: unset;
    flex-direction: row;
    align-items: unset;
    border-bottom: 1px solid white;
  }

  .footer-links-wrapper {
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
  }
  .footer-contacts {
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    border-top: 1px solid #dadada;
  }
}

@media (max-width: 1100px) {
  body {
    font-size: 0.8rem;
  }
  .main-info h1 {
    font-size: 2em;
  }
  .main-info h3 {
    font-size: 1.2em;
  }
  .buttons-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    top: 77%;
  }
  .member-quotation-name {
    border: none;
    position: static;
  }
  .member-quotation-name h6,
  .member-quotation-name h6.active-member {
    text-align: center;
    top: 5px;
    left: 22px;
    margin: 0;
    padding: 0;
  }
  .footer-contacts span.mail {
    display: inline;
  }
}
@media (max-width: 1000px) {
  .about {
    flex-direction: column;
    align-items: center;
  }
  .about-info {
    width: auto;
    padding: 0;
  }
  .team-members {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    padding: 1em;
    justify-content: space-evenly;
  }
  .servers-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

@media (max-width: 740px) {
  body {
    font-size: 0.7rem;
  }
  .main-nav {
    border: none;
  }
  ul.nav {
    display: none;
  }
  .main-menus-wrapper {
    position: relative;
  }
  .burger-menu {
    display: block;
    cursor: pointer;
    /* padding: 1em; */
  }

  ul.nav.show-nav {
    display: block;
    position: absolute;
    top: 33px;
    left: -30px;
    font-size: 1.3em;
    z-index: 3;
    line-height: 180%;
    opacity: 0.9;
  }
  ul.nav.show-nav li {
    background-color: #2e2e2e;
    padding: 0.5em 0.2em;
    border-bottom: 1px solid #dfdfdf;
    width: 160px;
  }
  ul.nav.show-nav li:first-child {
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
  }
  ul.nav.show-nav li:last-child {
    border: none;
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
  }
  ul.nav.show-nav a {
    display: block;
    width: 100%;
    padding: 0.5em 1em;
  }
  ul.nav.show-nav a:hover {
    color: yellowgreen;
  }
  ul.nav.show-nav a:hover::after {
    content: unset;
  }
  ul.nav.show-nav a.active::after {
    content: unset;
  }
  ul.nav li,
  ul.nav a {
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 580px) {
  .team-members {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 550px) {
  .logo {
    display: none;
  }
  .ghost-burger-menu {
    display: inline;
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
  }
  .fa-bars {
    position: absolute;
    top: 28px;
    right: 11px;
  }
  ul.nav.show-nav {
    display: block;
    position: absolute;
    top: 57px;
    left: -90px;
    font-size: 1.3em;
    z-index: 3;
    line-height: 180%;
    opacity: 0.9;
  }

  .carousel-text {
    font-size: 1em;
  }

  .servers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 430px) {
  .footer {
    padding: 0.2em;
  }
  .servers-container {
    padding: 0.2em;
  }
  .about {
    padding: 0.2em;
  }
  .about p {
    padding: 0.3em;
  }

  .footer-contactsbody {
    font-size: 0.6rem;
  }
}

@media (max-width: 300px) {
  .footer-links-wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.2em;
  }
}
