@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,400;1,700&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #000;
  --text-color: #0a0a0a;
  --text-second-color: #e6e6e6;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font: 16px/1.5 'Lato', sans-serif;
}

body,
table,
form,
button,
input,
select,
textarea {
  font: inherit;
}
body {
  background-color: #dfdfdf;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 2.2em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.8em;
}

h5 {
  font-size: 1.6em;
}

h6 {
  font-size: 1.3em;
}

ul {
  list-style-type: none;
}

ul.nav {
  display: flex;
  margin-left: auto;
}
ul.nav li {
  padding-left: 0.3em;
}
ul.nav a {
  padding: 1em 0 1em 0.5em;
  position: relative;
}
ul.nav a.active::after {
  content: '';
  width: 90%;
  height: 2px;
  background-color: whitesmoke;
  position: absolute;
  top: 3.7em;
  left: 0.5em;
}

ul.nav a:hover::after {
  content: '';
  width: 90%;
  height: 2px;
  background-color: rgb(16, 158, 87);
  position: absolute;
  top: 3.7em;
  left: 0.5em;
}

ul.nav a.active:hover::after {
  content: '';
  width: 90%;
  height: 2px;
  background-color: whitesmoke;
  position: absolute;
  top: 3.7em;
  left: 0.5em;
}

.header {
  width: 100%;
  height: 60vh;
  position: relative;
  color: white;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background-color: rgb(0, 71, 48); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url('imgs/header-background.jpg');
  /* background-repeat: no-repeat; */
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  z-index: -1;
}
.main-info {
  color: var(--primary-color);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-info h3 {
  font-family: 'PT Serif', serif;
  font-weight: 400;
  padding-top: 0;
  font-size: 1.4em;
}
.main-nav {
  width: 80%;
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(90, 90, 90, 0.5);
}
.main-nav a {
  color: var(--primary-color);
}
.main-nav .logo {
  position: relative;
  font-weight: bold;
  width: 130px;
  /* background-color: violet; */
  /* height: 20px; */
}
/* .main-nav .logo .fa-ghost {
  position: absolute;
  top: 0;
  left: 0;
} */
.main-nav .logo p {
  position: absolute;
  top: 0;
  left: 0.5em;
  /* color: aquamarine; */
  font-size: 1.4em;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
